h1 {
  font-weight: bold;
  font-style: normal;
}

h2 {
  font-weight: bold;
  font-family: sans-serif;
}

p.important {
  font-size: 20px;
  font-style: normal;
}

p.notImportant {
  font-size: 35px;
  font-weight: bold;
}
